<div>
    <h3 style="color: #888;">
        {{ email_password_recovery_title }}
    </h3>
    <div style="
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        justify-content: center; 
        padding: 2rem;
    ">
        <a href="{{ url }}" style="
            text-decoration: none; 
            background-color: #1785a3; 
            color: white; 
            padding: 1rem; 
            border-radius: 3px;
        ">
            {{ password_recovery_bt }}
        </a>
    </div>
</div>